
a{
  text-decoration: none;
  color: white;
}

#navbar a.active {
  background-color: #04AA6D;
  color: rgb(24, 22, 22);
}

#navbar a:hover {
  background-color: #d20c0c;
  color: black;
}

#navbar a {
  color: white;
  padding: 4px 10px;
  text-decoration: none;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: start;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.productImage{
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

.card {
 
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 0 1 24%;
  box-sizing: border-box;
  margin: 1rem .25em;
}
.cardContent {
  padding: 20px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.cartContainer{
  padding: 10px;
}
.shopping-cart-icon {
  position: relative;
  display: inline-block;
}

.item-count {
  position: absolute;
  top: -11px;
  right: -12px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 10px;
}

.closeCart{
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-end;
}

.navbar-icon{
  display: flex;
  justify-content: space-between;
}

.cartTopSection{
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-bottom: 10px;
}
.cartTopSection h2{
  color: white;
  padding: 5px;
  text-align: center;
  margin: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Ensure the modal appears above other content */
  color: black;
  max-height: 80%;
  overflow-y: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 14, 14, 0.5); /* Semi-transparent background */
  z-index: 999; /* Ensure the overlay is behind the modal */
}

.linkToRedirect *{
  text-decoration: none;
  color: rgb(251, 114, 114);
  font: 1em sans-serif;
}

.cardContainerForProduct{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

/* contact form */
.contact-form {
  max-width: 600px;
  margin: 50px auto;
  background-color: #4a4a4ae1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  height: 150px;
}

.form-group input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* cart */
.cart-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;

}

/* Style for the cart total */
.cart-container p {
  font-size: 18px;
  margin-bottom: 10px;
}
.cartButtons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;

}

/* Style for the buttons */
.checkout, .continue-shopping, .clear-cart {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: #007bff;
  margin-top: 5px;
  color: #fff;
  
}
.clear-cart{
  background-color: #d20c0c;
}

.cartProducts{
  display: flex;
  gap: 10px;

}

.thumbnail {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px;
  display: block;
}



@media (max-width: 768px) {
  .card {
    width: calc(50% - 40px);
  }
}

@media (max-width: 160px) {
  .card {
    width: calc(100% - 40px);
  }
}