
@tailwind base;
@tailwind components;
@tailwind utilities;


button {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

button:hover {
  @apply bg-blue-700;
}

header {
  @apply bg-gray-800 text-white sm:p-6 fixed p-0;
}

body {
  @apply bg-zinc-300;
}



.card {
  @apply bg-black text-white p-6 rounded-lg shadow-lg  border border-white flex flex-col justify-between;
}

.productImage {
  @apply w-full h-64 object-cover rounded-lg;
}

.overlay {
  @apply bg-transparent fixed top-0 left-0 w-full h-full z-40;
}

.modal {
  @apply bg-white p-4 absolute w-64 top-80 sm:top-45 left-56 transform -translate-x-1/2 -translate-y-1/2 text-black max-h-90vh overflow-y-auto z-50 border rounded-lg shadow-slate-900 sm:w-96;
}






@layer utilities {
  .max-h-90vh {
    max-height: 90vh;
  }
  .top-45 {
    top: 45%;
  }
}
